{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h2 style="text-align:center;">비밀번호 변경</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form method="post" style="text-align:center;">
    {% csrf_token %}
    <div class="form-group">
    <tr><th><label for="id_old_password">이전 비밀번호</label></th>
        <td><input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus required id="id_old_password"></td></tr>
    </div>
    <div class="form-group">
        <tr><th><label for="id_new_password1">새로운 비밀번호</label></th>
        <td><input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            <br><span class="helptext">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul></span>
        </td>
    </tr>
    </div>
    <div>
    <tr><th><label for="id_new_password2">새로운 비밀번호 확인</label></th>
        <td><input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2"></td></tr>
    <br>
    <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </div>
    </form>
</div>
{% endblock %}

